<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" th:href="@{css/estilos.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap.css}">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet">
</head>

<body style="background-color:#eae3dc">

<div class="row">
	<div class="col-sm-4 offset-sm-4 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-8 offset-xl-2">
   		 <div class="titulo">
	        <img th:src="@{img/robot.png}" style="width: 130px">
	        <p style="margin-top: -30px">LucaTinder</p>  
  		  </div>
      </div>
</div>

<div class= "row navegadorTinder">
<div class= "col-sm-4 offset-sm-4">
      <nav class="navbar navbar-expand-sm navbar-light"  >
            <a class="navbar-brand " href="#">TU DECIDES!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MATCHS!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACTOS</a>
                    </li>
                </ul>
            </div>
        </nav> 
         </div>
</div>


   
	
        <!--  <div class="col-md-6 offset-3 text-center" style="margin: auto"> -->
           
                <!--  <table id="listado" class="table"> -->
                
  

      
                      <div class="row">
                            <div class="col-sm-4 offset-sm-4 col-md-6 offset-md-3" >
                                <div th:each="perfil: ${lista}"class="card" style="float: left; width: 300px; heigth: 300px" align= "center">
                                    <div class="card-body">
                                        <img class="card-img-top" th:src="@{img/robotlucatinder.png}" alt="Card image" style="width: 150px">
                                        <p th:text=${perfil.nombre} style="margin-top: 5px;margin-bottom: 5px"></p>
                                        <p th:text=${perfil.edad} style="margin-top: 5px;margin-bottom: 5px"></p>

                                        <a th:href="@{like(id = ${perfil.id})}" class="btn btn-primary" style="background-color:#4fa860;margin: 0px 3px 0px;border-color: #4fa860">♥</a>
                                        <a href="" class="btn  btn-primary" style="background-color:#272727;margin: 0px 3px 0px;border-color: #272727">+</a>
                                        <a th:href="@{disLike(id = ${perfil.id})}" class="btn btn-primary" style="background-color:#d14545;margin: 0px 3px 0px">X</a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                                              
    

                <!--</table> -->
           <!-- </div> -->
        
   
</body></html>




