<!DOCTYPE html>
<html lang=es xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web Luca TIC</title>
     <!-- CSS esto debe estar en la carpeta "resources" del proyecto-->
  <!-- <link rel="stylesheet" th:href="@{/css/estilo.css}"> -->   
<link rel="stylesheet" href="c:\css\estilo.css">

</head>
<body id="main">
<div align=center id="barra-superior">
   <h1 id="titulo">  Lucatinder <img src="https://cdn.icon-icons.com/icons2/935/PNG/64/like-heart-outline-symbol_icon-icons.com_73226.png"></h1>
</div>
               <br/>
               <div align=center>
                   <form class="formulario2" method="post" th:object="${alias}" th:action="@{/addperfil}">  
                       <p align=left class="texto-intermedio">Datos de perfil</p>
                   <p align=center class="texto-bajo">Alias: <input th:field="*{nombre}"type="text" name="nombre" size="27" required="required" ></p>
                                    
                    <p align=center class="texto-bajo">Nombre completo: <input th:field="*{nombre}"type="text" name="nombre" size="40" required="required" ></p>
                                     <p class="texto-bajo">Sexo: 
    <input th:field="*{esHombre}" type="radio" name="hm" value="true" required="required" class="texto-bajo"> Hombre
    <input th:field="*{esHombre}" type="radio" name="hm" value="false" required="required" class="texto-bajo"> Mujer
                                   
        <p align=center class="texto-bajo">Fecha de nacimiento : <input th:field="*{nombre}" type="date" name="nombre" size="15" required="required" ></p>
                                   
                       <p align=center class="texto-bajo">Cuenta algo sobre ti: </p><textarea style="resize: none;"
 th:field="*{nombre}"type="text" name="nombre" rows="4" cols="50" required="required" ></textarea>
                                   
                                   <br/>
                                   
                    <input type="submit" align=center class="boton-general" value="Alta de perfil">
                   <br/>
                                    
                                     
                                                    
                   
                                    
               </div>
                
</body>