<!DOCTYPE html>
<html lang=es xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Web Luca TIC</title>  
	<link rel="stylesheet" th:href="@{\css\estilo.css} ">
	</head>
	<body id="main">
		<div align=center id="barra-superior">
			<h1 id="titulo">  Lucatinder <img src="https://cdn.icon-icons.com/icons2/935/PNG/64/like-heart-outline-symbol_icon-icons.com_73226.png"></h1>
		</div>
		<br/>
		<div align=center>
			<form class="formulario2" method="post" th:object="${perfil}" th:action="@{/registro}">  
				<p align=left class="texto-intermedio">Datos de perfil</p>
				<p align=center class="texto-bajo">Alias: <input th:field="*{alias}"type="text" name="alias" size="27" required="required" ></p>
				<p align=center class="texto-bajo">Nombre completo: <input th:field="*{nombre}" type="text" name="nombre" size="40" required="required" ></p>
				<p class="texto-bajo">
					Sexo: 
				
					<input th:field="*{genero}" type="radio" name="isHombre" value="true" required="required" class="texto-bajo"> Hombre
					<input th:field="*{genero}" type="radio" name="isMujer" value="false" required="required" class="texto-bajo"> Mujer
				</p>
				<p align=center class="texto-bajo">
					Edad : <input type="number" th:field="*{edad}" name="edad" size="15" required="required">
				</p>
				<p align=center class="texto-bajo">
					Cuenta algo sobre ti:
				</p>
				<textarea style="resize: none;" th:field="*{descripcion}" type="text" name="nombre" rows="4" cols="50" required="required" >
				</textarea>
				<br/>
				<input type="submit" align=center class="boton-general" value="Alta de perfil">
			</form>
			<br/>
		</div>        
	</body>
</html>